.formulario-1,.formulario-2 {
    display: none;
}

.grupo-formularios .formulario-1,.formulario-2 .card .card-header .titulo-card{
    color: black;
    font-weight: 600;
    font-size: 1.15rem;
}

.titulos-1,.titulos-2 {
    display: none;
}