.formulario-1,.formulario-2 {
    display: none;
}

.grupo-formularios .formulario-1,.formulario-2 .card .card-header .titulo-card{
    color: black;
    font-weight: 600;
    font-size: 1.15rem;
}
.header-formulario{
    background: #1F618D ;
    color: #fff;
}

.header-formulario-danger{
    background: #d52a1a ;
    color: #fff;
}

/* .titulos-1,.titulos-2,.titulos-3,.titulos-4,.titulos-5,.titulos-6,.titulos-7 {
    display: none;
} */